 * {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    border: none;  
} 

body {
    background: linear-gradient(to right,#ff69b4, #ff1493);
    height: 100vh; 
    width: 100%; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    font-family: 'Open Sans', sans-serif;

}


#form{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background: white;  
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    border-radius: 5px; 
    width: 100%;     
    padding: 40px;  
    box-sizing: border-box;   
}

#button {
    width:100%;
    font-size:15px;
    color:white;
    background-color: #ff1493; 
    border-radius:5px;
    padding:10px; 
    margin: 20px 0px; 
    outline: none; 
    display: flex; 
    justify-content: center;  
}

.update {
    width:100%;
    font-size:15px;
    color:white;
    background-color: #ff1493; 
    border-radius:5px;
    padding:10px;  
    margin: -5px 0px; 
    outline: none; 
    display: flex; 
    justify-content: center; 
}

.second_button{
    border: 1px solid #ff69b4; 
    color: #ff69b4; 
    outline: none; 
    padding: 5px; 
}

input {
    width:100%;
    border-radius:5px;
    padding:10px; 
    margin: 20px 0px; 
    border: 1px solid #bbb; 
    outline: none; 
}


.stuff {
    position: relative;  
    padding: 5px; 
}


.completed {
    text-decoration: line-through; 
}

.edit {
    position: absolute; 
    right: 30px; 
}

.clear {
    position: absolute; 
    right: 0; 
}